@{
    ViewBag.Title = "Beliefs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<div id="Content">
    <h1>Beliefs</h1>
    <ul>
        <h3>
            <li>We believe and teach that the Bible is the Word of God, inspired by Him so that it is without error 
                in the original manuscripts, and preserved by God as our devinely authoritative standard for every 
                age and every life.
                <ol>
                    <li>
                        <div class="tooltip">
                            2 Timothy 3:16
                            <span class="tooltiptext">
                                <strong>2 Timothy 3:16</strong>
                                <br /><br />
                                <sup>16</sup>All Scripture is God-breathed and is useful for teaching, rebuking, correcting
                                and training in righteousness
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="tooltip">
                            2 Peter 1:20-2
                            <span class="tooltiptext">
                                <strong>2 Peter 1:20-2</strong>
                                <br /><br />
                                <sup>20</sup>Above all, you must understand that no prophecy of Scripture came about by the
                                prophet’s own interpretation of things.
                                <sup>21</sup>For prophecy never had its origin in the human will, but prophets, though human,
                                spoke from God as they were carried along by the Holy Spirit.
                                <br />
                                <br />
                                <span class="first-letter">2</span> But there were also false prophets among the people, just 
                                as there will be false teachers among you. They will secretly introduce destructive heresies, 
                                even denying the sovereign Lord who bought them—bringing swift destruction on themselves. 
                                <sup>2</sup> Many will follow their depraved conduct and will bring the way of truth into 
                                disrepute. <sup>3</sup> In their greed these teachers will exploit you with fabricated stories. 
                                Their condemnation has long been hanging over them, and their destruction has not been sleeping. 
                                <sup>4</sup> For if God did not spare angels when they sinned, but sent them to hell, putting 
                                them in chains of darkness to be held for judgment; <sup>5</sup> if he did not spare the ancient 
                                world when he brought the flood on its ungodly people, but protected Noah, a preacher of 
                                righteousness, and seven others; <sup>6</sup> if he condemned the cities of Sodom and Gomorrah 
                                by burning them to ashes, and made them an example of what is going to happen to the ungodly; 
                                <sup>7</sup> and if he rescued Lot, a righteous man, who was distressed by the depraved conduct 
                                of the lawless <sup>8</sup> (for that righteous man, living among them day after day, was tormented 
                                in his righteous soul by the lawless deeds he saw and heard)— <sup>9</sup> if this is so, then the 
                                Lord knows how to rescue the godly from trials and to hold the unrighteous for punishment on the 
                                day of judgment. <sup>10</sup> This is especially true of those who follow the corrupt desire of 
                                the flesh and despise authority. Bold and arrogant, they are not afraid to heap abuse on celestial 
                                beings; <sup>11</sup> yet even angels, although they are stronger and more powerful, do not heap 
                                abuse on such beings when bringing judgment on them from the Lord. <sup>12</sup> But these people 
                                blaspheme in matters they do not understand. They are like unreasoning animals, creatures of instinct, 
                                born only to be caught and destroyed, and like animals they too will perish. <sup>13</sup> They will 
                                be paid back with harm for the harm they have done. Their idea of pleasure is to carouse in broad 
                                daylight. They are blots and blemishes, reveling in their pleasures while they feast with you. 
                                <sup>14</sup> With eyes full of adultery, they never stop sinning; they seduce the unstable; they 
                                are experts in greed—an accursed brood! <sup>15</sup> They have left the straight way and wandered 
                                off to follow the way of Balaam son of Bezer, who loved the wages of wickedness. <sup>16</sup> But 
                                he was rebuked for his wrongdoing by a donkey—an animal without speech—who spoke with a human 
                                voice and restrained the prophet’s madness. <sup>17</sup> These people are springs without water and 
                                mists driven by a storm. Blackest darkness is reserved for them. <sup>18</sup> For they mouth empty, 
                                boastful words and, by appealing to the lustful desires of the flesh, they entice people who are just 
                                escaping from those who live in error. <sup>19</sup> They promise them freedom, while they themselves 
                                are slaves of depravity—for “people are slaves to whatever has mastered them.” <sup>20</sup> If they 
                                have escaped the corruption of the world by knowing our Lord and Savior Jesus Christ and are again 
                                entangled in it and are overcome, they are worse off at the end than they were at the beginning. 
                                <sup>21</sup> It would have been better for them not to have known the way of righteousness, than to 
                                have known it and then to turn their backs on the sacred command that was passed on to them. <sup>22</sup> 
                                Of them the proverbs are true: “A dog returns to its vomit,” and, “A sow that is washed returns to 
                                her wallowing in the mud.”
                            </span>
                        </div>
                    </li>
                </ol>
                </li><br>
            <li>We believe and teach that the Godhead exists eternally in three persons – Father, Son, and Holy 
                Spirit – and that these three are one God (Matthew 28:19, John 14:16-26, John 16:7-15).</li><br>
            <li>We believe and teach that God is absolute and sole creator – that the universe and all of creation 
                was brought into being by the "Word" of God (John 1:1-4, Genesis 1:1-2:25).</li><br>
            <li>We believe and teach that God, because of His compelling love, sent Jesus Christ into the world to 
                save lost sinners by His atoning death on the cross (Genesis 3:15, Isaiah 53:1-6, Matthew 1:21, 
                John 3:16, Romans 5:8, Ephesians 1:3-8).</li><br>
            <li>We believe and teach that Jesus Christ in the flesh was both God and man. He was born of a virgin 
                and lived a sinless life in which He taught and performed mighty miracles, signs, and wonders exactly 
                as revealed in the four gospels. He was crucified, died as a penalty for our sins, and was raised from the dead in bodily form on the third day. Later He ascended to the Father’s right hand where He is head of the church and intercedes for believers. One day He is coming back to earth to take His followers to heaven (Philippians 2:5-8, Luke 1:26-35, Hebrews 4:14-15, I Peter 2:21-24, I Corinthians 15:3-5, Acts 1:9-11, Ephesians 1:18-23, Ephesians 5:23, Romans 8:31-34, I John 2:1-2, I Thessalonians 4:15-17, John 14:1-6, I Corinthians 15:3-8).</li><br>
            <li>We believe and teach that by the shedding of His blood on the cross, the Lord Jesus made the perfect 
                atonement for sin. Men are saved and are make right with God through His sacrifice on the cross and 
                are empowered to live a holy life by the indwelling presence of the Holy Spirit. No man is saved by 
                his own righteous deeds, but by faith in Jesus Christ and the grace of God through the sacrificial 
                blood of Christ (Hebrews 9:11-14, Hebrews 10:10-14, I Peter 3:18, Galatians 3:13-14, 
                I Corinthians 6:9-11, Romans 8:31-34, I John 1:8-10, I John 3:7-10, 2 Corinthians 5:17-21, 
                Ephesians 2:8-9).</li><br>
            <li>We believe and teach that all who receive Christ become joint heirs with Him, and at death, their 
            spirit will depart to be with Him forever. At the second coming, their bodies will be raised in the 
            likeness of His glory and dwell forever in His divine presence (Romans 8:16-17, 2 Corinthians 5:6-8, 
            Luke 16:19-31, I Thessalonians 4:13-18, I Corinthians 15:1-58, I John 3:1-2).</li><br>
        </h3>
    </ul>
</div>